@{
	Layout = "_Layout";
}

@model Factory.Models.Machine

<h3>Create a record for a Machine!</h3>

@using (Html.BeginForm())
{
	@Html.LabelFor(model => model.Name)
	@Html.TextBoxFor(model => model.Name)
	@Html.LabelFor(model => model.Function)
	@Html.TextBoxFor(model => model.Function)
	@Html.Label("Next Inspection Scheduled:")
	@Html.TextBoxFor(model => model.InspectDate)
	<input type="submit" value="Create!"/>
}
