@{
	Layout = "_Layout"
}

@using Factory.Models;

<h3>Details on @Model.Name:</h3>

<p><strong>Details on Machine's functions and uses:</strong></p>
<p>@Model.Functions</p>

<p><strong>Next Inspection:</strong> @Model.InspectDate</p>

<p><strong>Engineers qualified to repair @Model.Name:</strong></p>

@if (Model.JoinEngMach.Count == 0)
{
	<p>@Model.Name does not currently have any engineers on their repair crew!!!  Eeeek!</p>
}
else
{
	<ul>
		@foreach (var join in Model.JoinEngMach)
		{
			<li>@Html.ActionLink($"{join.Engineer.Name}", "Details", "Engineer", new {id = join.Engineer.EngineerId}) </li>
		}
		@using (Html.BeginForm("DeleteEngineer", "Engineer"))
		{
			@Html.Hidden("joinId", join.MachineEngineerId)
			<input type="submit" value="Delete" onclick="return confirm('Are you sure you want to remove this Engineer from this Machine?')"/>
		}
	</ul>
}

@using (Html.BeginForm("Delete"))
{
	@Html.Hidden("id", Model.MachineId)
	<input type="submit" value="Delete this Machine" onclick="return confirm('Are you sure you want to remove records of this Machine?')"/>
}

<p>@Html.ActionLink("Add an Engineer to this Machine's repair team", "AddEngineer", new {id = Model.MachineId})</p>
<p>@Html.ActionLink("Edit this Machines's details", "Edit", new {id = Model.MachineId})</p>

