@{
	Layout = "_Layout";
}

@model Factory.Models.Machine

<h3>Revise details for our hardworking machine @Model.Name:</h3>

@using (Html.BeginForm())
{
	@Html.HiddenFor(model => model.MachineId)
	@Html.LabelFor(model => model.Name)
	@Html.EditorFor(model => model.Name)
	@Html.LabelFor(model => model.Function)
	@Html.EditorFor(model => model.Function)
	@Html.Label("Next Inspection Date:")
	@Html.EditorFor(model => model.InspectDate)
	@Html.Label("Currently Functional?")
	@Html.EditorFor(model => model.Functional)
	@Html.Label("Being Repaired?")
	@Html.EditorFor(model => model.BeingRepaired)
	<input type="submit" value="Confirm Revisions!">
}

<p>@Html.ActionLink("Return to Details", "Details", new {id = Model.MachineId})</p>